In [1]:
import pandas as pd
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [3]:
#Groupby

df.groupby(by='classification')

In [4]:
#m√©dia

df.groupby(by='classification').mean()

                temperatura
classification
confortavel       24.000000
frio              20.000000
muito quente      31.200000
quente            28.533333

In [5]:
#Soma

df.groupby(by='classification').sum()

                temperatura
classification
confortavel            24.0
frio                   20.0
muito quente           31.2
quente                 85.6

In [6]:
df.drop('temperatura', axis=1)

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio